@font-face {
  font-family: 'Zen Dots';
  font-weight: normal;
  src: url(/static/fonts/Zen_Dots/ZenDots-Regular.ttf);
}

*, *::before, *::after {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

input, textarea, button, select {
  font: inherit;
}

.nav-bar-outer-wrapper, .main-outer-wrapper {
  display: flex;
  justify-content: center;
}

.nav-bar-outer-wrapper {
  background-color: white;
  padding: 0 12px 0 0;
}

.main-outer-wrapper {
  padding: 0 12px;
}

.logo {
  color: rgb(0, 120, 128);
  font-family: 'Zen Dots';
  text-shadow: 4px 4px 8px rgb(164, 188, 181);
  font-size: 36px;
  background-color: rgba(107, 161, 208, 1);
  padding: 5px;
  margin: 0 clamp(5px, 2%, 20px) 0 0;
  border-radius: 2px;
}

.logo-a {
  text-decoration: none;
}

.navigation-bar .logo {
  grid-column: 1 / 2;
}

body {
  background-color: rgb(202, 202, 202);
  margin: 0;
}

.navigation-bar {
  width: 100%;
  /* height: 5%; */
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.primary-icon-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  grid-column: 2 / 3;
}

.user-icon-div, .icon-div {
  display: flex;
  align-items: center;
}

.icon-div {
  margin: 0 clamp(5px, 2%, 20px);
}

.user-icon-div {
  grid-column: 3 / 4;
  position: relative;
}

.user-icon-popup {
  position: absolute;
  top: calc(100% + 4px);
  right: 0;
  border: 1px solid gray;
  background: white;
  padding: 8px;
  border-radius: 4px;
}

.user-icon-popup > a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

.user-icon-popup > a:hover {
  text-decoration: underline;
}

.icon-img {
  height: 36px;
}

.icon-img:hover {
  cursor: pointer;
}

.nav-bar-inner-wrapper, .main-inner-wrapper {
  width: clamp(360px, 100%, 1280px);
}

.display-none {
  display: none;
}