html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.nav-bar-outer-wrapper {
  flex: 0 1 auto;
}

.main-outer-wrapper {
  flex: 1 1 auto;
}

main {
  height: 100%;
  display: flex;
  flex-flow: column;
}

main > form {
  flex: 0 1 auto;
}

main > hr {
  flex: 0 1 auto;
}

.search-results-wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  flex: 1 1 auto;
}

.left-column-wrapper {
  grid-column: 1 / 2;
  height: 100%;
  position: relative;
  border: 2px solid black;
}

.right-column-wrapper {
  grid-column: 2 / 3;
  height: 100%;
  position: relative;
  border: 2px solid black;
}

.left-column {
  height: 100%;
  position: absolute; 
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.3rem;
}

.right-column {
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.6rem;
  background-color: white;
}

.hor-buttons-div {
  display: flex;
  align-items: center;
}

.api-job-list-item {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 8px 6px;
  padding: 0.6rem;
  background: white;
  box-shadow: 5px 5px 5px 5px gray;
}

.list-item-inner-wrapper {
  pointer-events: none;
}

.api-job-list-item:hover {
  cursor: pointer;
}

.title-apply {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-full-screen {
  display: flex;
  justify-content: space-between;
}

.highlight-card {
  box-shadow: 1px 1px 1px 3px var(--logo-background-color);
  outline: 1px solid rgba(0, 120, 128, 0.5);
}

.top-mini-form {
  margin-top: 0.5rem;
  grid-column: 1 / 2;
}

.form-logo-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}

.cos-logo-results {
  grid-column: 2 / 3;
  margin: 0.5rem 1rem 0;
}

.results-h3 {
  margin-top: 0;
}

.list-item-inner-wrapper h3 {
  margin: 0.3rem 0;
}

.company {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  color: var(--main-color);
}

.federal-contractor {
  margin-bottom: 0;
}

.page-num {
  margin-right: 0.5rem;
}

#saved-icon {
  margin: 0.5rem;
}