/* Might not be used */
.pointer-events-none {
  pointer-events: none;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-align-top {
  display: flex;
  align-items: flex-start;
}

.no-margin-bottom {
  margin-bottom: 0;
}