th, td {
  padding: 0.4rem;
  border: 1px solid #ddd;
}

table {
  border-collapse: collapse;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--main-color);
  color: white;
}

table select {
  appearance: none;
  border: none;
  background-color: var(--body-background-color);
  padding: 0.3rem;
}

table select:focus {
  background-color: white;
}

th button {
  font-weight: normal;
  margin-left: 1.2rem;
}

.h2-with-neighbors-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

thead {
  position: sticky;
  top: 0px;
}

.pending-changes {
  background-color:rgb(138, 174, 175);
}