:root {
  --main-color: rgb(0, 120, 128);
  --main-color-lighter: rgb(21, 146, 155);
  --main-color-for-text: rgb(22, 84, 89);
  --greyed-main-color: rgb(46, 57, 57);
  --logo-background-color: rgb(107, 161, 208);
  --body-background-color: rgb(202, 202, 202);
  --field-background-color: rgb(240, 240, 240);
}