<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/base.css">
  {% block stylesheets %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="nav-bar-outer-wrapper">
    <div class="nav-bar-inner-wrapper">
      <header class="navigation-bar">
        <a class="logo-a" href="/"><h1 class="logo">Jobalyze</h1></a>
        <div class="primary-icon-wrapper">
          <div class="icon-div">
            <a href="/"><img class="icon-img" src="/static/icons/home-icon-small.png"></a>
          </div>
          <div class="icon-div">
            <a href="/cos-jobs"><img class="icon-img" src="/static/icons/job-search-small.png"></a>
          </div>
          {% if current_user.is_authenticated %}
          <div class="icon-div">
            <a href="/saved-jobs/add"><img class="icon-img" src="/static/icons/job-add-small.png"></a>
          </div>
          <div class="icon-div">
            <a href="/dashboard"><img class="icon-img" src="/static/icons/dashboard-icon-small.png"></a>
          </div>
          {% endif %}
        </div>
        <div class="user-icon-div">
          <img class="icon-img" id="user-icon" src="/static/icons/user-icon-small.png">
          <div class="user-icon-popup display-none" id="user-icon-popup">
          {% if current_user.is_authenticated %}
          <a href="/logout">logout</a>
          {% else %}
          <a href="/login">login</a>
          <a href="/register">register</a>
          {% endif %}
          </div>
        </div>
      </header>
    </div>
  </div>
  <div class="main-outer-wrapper">
    <div class="main-inner-wrapper">
      <main>
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>
  <script src="/static/js/user_icon_popup.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>