{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/job-details.css">
  {% if popup_jh or popup_ja %}
  <link rel="stylesheet" href="/static/css/popup.css">
  {% endif %}
{% endblock %}

{% block title %}Job Details{% endblock %}

{% block content %}
<div class="details-wrapper" id="details-wrapper" class="display-none" data-cos-id="{{cos_id}}" data-fc="{{fc}}">
  <div class="title-apply">
    <h3 id="details-job-title"></h3>
    <div class="hor-buttons-div">
      {% if current_user.is_authenticated %}
      <button id="save-button" {% if saved_job.id %}class="display-none btn-small"{% endif %}>Save</button>
      <div id="saved-icon" {% if not saved_job.id %}class="display-none"{% endif %}>&#x2714; Saved</div>
      {% endif %}
      <a id="details-url" target="_blank"><button class="btn-small">Apply Now</button></a>
    </div>
  </div>
  <div class="details-i-applied">
    <div>
      <div id="details-company-name" class="company"></div>
      <div id="details-location"></div>
      <div id="details-date-posted"></div>
    </div>
    {% if current_user.is_authenticated %}
    <button id="i-applied-button" 
      {% if saved_job['id'] %}data-saved-job-id={{saved_job['id']}}{% else %}data-saved-job-id="none"{% endif %} 
      {% if popup_jh == 'ready' %}data-job-hunt="none"{% else %}data-job-hunt="yes"{% endif %} 
      {% if applied %}class="display-none"{% endif %}>
      Report Application
    </button>
    <div id="you-applied-icon" {% if not applied %}class="display-none"{% endif %}>You applied!</div>
    {% endif %}
  </div>
  <div id="details-description"></div>
</div>

{% if popup_jh %}
  {% include "popup-jh.html" %}
{% endif %}

{% if popup_ja %}
  {% include "popup-ja.html" %}
{% endif %}

{% endblock %}

{% block scripts %}
  {% if popup_jh %}
  <script src="/static/js/integer-input.js"></script>
  <script src="/static/js/popup-jh.js"></script>
  {% endif %}
  {% if popup_ja %}
  <script src="/static/js/popup-ja.js"></script>
  {% endif %}
<script src="/static/js/cleanHTML.js"></script>
<script src="/static/js/cos-job-details.js"></script>
{% endblock %}