{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/dashboard.css">
<link rel="stylesheet" href="/static/css/popup.css">
{% endblock %}


{% block title %}Dashboard{% endblock %}


{% block content %}
<div class="top-grid">
  <div id="top-left" class="top-grid-section">
    <h2>Dashboard</h2>
  </div>
  <div id="top-center" class="top-grid-section">
    <div class="top-grid-inner-wrapper">
      <div class="top-center-row-1">
        {% if current_hunt %}
        <h3 class="job-hunt-h3">Job Hunt:</h3>
        <select name="job_hunt" id="job-hunt-select" class="isolated-select">
          {% for hunt in current_user.job_hunts|reverse %}
          <option value="{{hunt.id}}" {% if hunt.id == current_hunt.id %}selected{% endif %}>{{hunt.name}}</option>
          {% endfor %}
        </select>
        
        <div class="new-job-hunt-container">
          <button id="new-job-hunt-button" class="button-narrow dashboard-new-hunt-button">New Job Hunt</button>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% if new_job_postings %}
  <div id="top-right" class="top-grid-section">
    <img class="cos-logo cos-logo-dashboard" src="/static/icons/tcm24-30894_PoweredByCOS.jpg">
    <!-- <div id="hired-button" class="hired-button">Hired!</div> -->
  </div>
  {% endif %}
</div>
<div class="main-grid">
  <div id="main-upper-left" class="main-grid-quadrant">
    <div class="heading-expand">
      <h3>Saved Jobs</h3>
      {% if saved_jobs_list %}
      <a href="/saved-jobs"><img class="expand-icon" src="/static/icons/Expand-icon-30.png"></a>
      {% endif %}
    </div>
    {% if saved_jobs_list %}
    <ul>
      {% for job in saved_jobs_list %}
      <li>{{job.company}}, <a href="/saved-jobs/{{job.id}}">{{job.title}}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="match-margin-below">You have not saved any jobs.</p>
    <div class="flex-align-center">
      <span>Click on&nbsp;</span>
      <a href="/cos-jobs"><img class="icon-img" src="/static/icons/job-search-small.png"></a>
      <span>&nbsp;to search job postings</span>
    </div>
    <div class="flex-align-center">
      <span>or click on&nbsp;</span>
      <a href="/saved-jobs/add"><img class="icon-img" src="/static/icons/job-add-small.png"></a>
      <span>&nbsp;to save a job found elsewhere!</span>
    </div>
    {% endif %}
  </div>
  <div id="main-upper-right" class="main-grid-quadrant">
    <div class="heading-expand">
      <div class="flex-align-center">
        <h3>New Job Postings</h3>
        {% if new_job_postings %}
        <span class="posted-today-span">
          <span class="posted-today-asterisk">**</span>
          <span class="posted-today-text">posted today</span>
        </span>
        {% endif %}
      </div>
      {% if new_job_postings %}
      <span><img class="expand-icon" id="expand-job-search-icon" src="/static/icons/Expand-icon-30.png"></span>
      {% endif %}
    </div>
    {% if new_job_postings %}
    <ul>
      {% for job in new_job_postings %}
      <li>
        <span>{{job['Company']}},&nbsp;</span>
        <a href="/cos-jobs/details/{{job['JvId']}}?fc={{job['Fc']}}">{{job['JobTitle']}}</a> 
        {% if job['posted_today'] %}
        <span class="posted-today-asterisk">**</span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
      {% if current_hunt.non_us %}
      <p>Job Postings are only available for U.S. job searches.</p>
      {% elif job_postings_error %}
      <p>{{job_postings_error}}</p>
      {% else %}
      <p>Create a Job Hunt to see recent job postings here!</p>
      {% endif %}
    {% endif %}
  </div>
  <div id="main-lower-left" class="main-grid-quadrant">
    <div class="heading-expand">
      <h3>Job Applications</h3>
      {% if job_apps_list %}
      <a href="/job-apps?hunt={{current_hunt.id}}"><img class="expand-icon" src="/static/icons/Expand-icon-30.png"></a>
      {% endif %}
    </div>
    {% if job_apps_list %}
    <ul>
      {% for app in job_apps_list %}
      <li>{{app.saved_job.company}}, <a href="/job-apps/{{app.id}}">{{app.saved_job.title}}</a></li>
      {% endfor %}
    </ul>
    {% else %}
      {% if current_hunt %}
      <p>You have not reported any job applications.</p>
      <p>Click on the "I Applied" button on any job details page to report a job application!</p>
      {% else %}
      <p>Create a Job Hunt to report and track your current job applications!</p>
      {% endif %}
    {% endif %}
  </div>
  <div id="main-lower-right" class="main-grid-quadrant">
    <div class="heading-expand">
      <h3>{{current_hunt.name}} Job Hunt Details:</h3>
      {% if current_hunt %}
      <a href="/job-hunts/{{current_hunt.id}}"><img class="expand-icon" src="/static/icons/Expand-icon-30.png"></a>
      {% endif %}
    </div>
    {% if current_hunt %}
    <div class="spaced"><b>Status:</b> {{current_hunt.status_translated}}</div>
    <div class="spaced"><b>Job Title Desired:</b> {{current_hunt.job_title_desired}}</div>
    <div class="spaced"><b>Location:</b> {{current_hunt.location}}</div>
    <div class="spaced"><b>Location Radius:</b> {{current_hunt.radius}}</div>
    <div class="spaced"><b>Remote:</b> {% if current_hunt.remote %}Yes{% else %}No{% endif %}</div>
    <div class="spaced"><b>Date Started:</b> {{current_hunt.date_begun}}</div>
    {% else %}
    <p>In order to take advantage of many of Jobalyze's features create a "job hunt" now. It should takes less than a minute.</p>
    <div>
      <button id="new-job-hunt-button" class="button-narrow dashboard-new-hunt-button">New Job Hunt</button>
    </div>
    {% endif %}
  </div>
</div>

{% include "popup-jh.html" %}

{% if api_search_form %}
<form id="api-search-expand-form" class="display-none" method="GET" action="/cos-jobs/search">
  {% if current_hunt.o_net_code %}
    {{api_search_form.keyword(value=current_hunt.o_net_code)}}
  {% else %}
    {{api_search_form.keyword(value=current_hunt.job_title_desired)}}
  {% endif %}
  {{api_search_form.location(value=current_hunt.location)}}
  {{api_search_form.radius(value=current_hunt.radius)}}
  {{api_search_form.days(value="7")}}
  {{api_search_form.companyName}}
  {{api_search_form.remote(value=current_hunt.remote)}}
  {{api_search_form.startRecord(value="0")}}
</form>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="/static/js/integer-input.js"></script>
<script src="/static/js/popup-jh.js"></script>
<script src="/static/js/dashboard.js"></script>
{% endblock %}