{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/dashboard.css">
<link rel="stylesheet" href="/static/css/popup.css">
{% endblock %}


{% block title %}Dashboard{% endblock %}


{% block content %}
<div class="top-grid">
  <div id="top-left" class="top-grid-section">
    <h2>Dashboard</h2>
  </div>
  <div id="top-center" class="top-grid-section">
    <label for="job-hunt-select">Job Hunt</label>
    {% if current_hunt %}
    <select name="job_hunt" id="job-hunt-select">
      {% for hunt in current_user.job_hunts|reverse %}
      <option value="{{hunt.id}}">{{hunt.name}}</option>
      {% endfor %}
    </select>
    {% else %}
    <div>No Job Hunts Created</div>
    {% endif %}
    <button id="new-job-hunt-button">Start New Job Hunt</button>
  </div>
  <div id="top-right" class="top-grid-section">
    <div id="hired-button" class="hired-button">Hired!</div>
  </div>
</div>
<div class="main-grid">
  <div id="main-upper-left" class="main-grid-quadrant">
    <div class="heading-expand">
      <h3>Saved Jobs</h3>
      <a><img src="/static/icons/Expand-icon-30.png"></a>
    </div>
    {% if saved_jobs_list %}
    <ul>
      {% for job in saved_jobs_list %}
      <li>{{job.company}}, <a href="/saved-jobs/{{job.id}}">{{job.title}}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <div class="empty-list-note">You have not saved any jobs</div>
    {% endif %}
  </div>
  <div id="main-upper-right" class="main-grid-quadrant">
    <div class="heading-expand">
      <h3>Job Apps</h3>
      <a><img src="/static/icons/Expand-icon-30.png"></a>
    </div>
    {% if job_apps_list %}
    <ul>
      {% for app in job_apps_list %}
      <a href="/job-apps/{{app.id}}"><li>{{app.saved_job.company}}, {{app.saved_job.title}}</li></a>
      {% endfor %}
    </ul>
    {% else %}
    <div class="empty-list-note">You have not applied to any jobs yet.</div>
    {% endif %}
  </div>
  <div id="main-lower-left" class="main-grid-quadrant">
    <div class="heading-expand">
      <h3>New Job Postings</h3>
      <a><img src="/static/icons/Expand-icon-30.png"></a>
    </div>
    {% if new_job_postings %}
    <ul>
      {% for job in new_job_postings['Jobs'] %}
      <li>{{job['Company']}}, <a href="/cos-jobs/details/{{job['JvId']}}?fc={{job['Fc']}}">{{job['JobTitle']}}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p>Create a job hunt to see recent job postings here!</p>
    {% endif %}
  </div>
  <div id="main-lower-right" class="main-grid-quadrant">
    <div class="heading-expand">
      <h3>Progress</h3>
      <a><img src="/static/icons/Expand-icon-30.png"></a>
    </div>
    {% if current_hunt.app_goal_number and current_hunt.app_goal_time_frame %}
      You have goals!
    {% else %}
      You have not created goals yet.
    {% endif %}
  </div>
</div>

{% include "popup-jh.html" %}

{% endblock %}

{% block scripts %}
<script src="/static/js/popup-jh.js"></script>
<script src="/static/js/dashboard.js"></script>
{% endblock %}