{% extends 'base.html' %}

{% block title %}home_anon{% endblock %}

{% block content %}
<h2>Welcome to Jobalyze!</h2>
<p>A Job Search tool to track your applications, analyze your application results, and search for jobs!</p>
<p>Find jobs using our job search through the National Labor Exchange or Login to access all our tools!</p>
<form method="POST" action="/login">
  {{form.hidden_tag()}}
  {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="field-group field-style-1">
      {{field.label}}
      {{field}}
    </div>
    {% for err in field.errors %}
    <div class="error-row">
      <div class="error-div">{{err}}</div>
    </div>
    {% endfor %}
  {% endfor %}
  <div class="field-group field-style-1">
    <div class="button-div">
      <button type="submit" class="btn btn-success mt-2">Submit</button>
    </div>
  </div>
</form>
{% endblock %}