{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block title %}Jobalyze - Home{% endblock %}

{% block content %}
<h2>Welcome to Jobalyze!</h2>
<p>A Job Search tool to search for job openings, track your job applications, and analyze the results of your job application!</p>
<p>Find jobs using Jobalyze's job search through the National Labor Exchange or Login to access all of Jobalyze's tools!</p>
<div class="home-job-search-wrapper">
  <div class="home-job-search-box">
    <h3>Search For Jobs</h3>
    <form method="GET" action="/cos-jobs/search">
      {{form.hidden_tag()}}

        <div class="field-group field-style-1">
          {{form.keyword.label}}
          {{form.keyword}}
        </div>
        {% for err in form.keyword.errors %}
        <div class="error-row">
          <div class="error-div">{{err}}</div>
        </div>
        {% endfor %}

        <div class="field-group field-style-1">
          {{form.location.label}}
          {{form.location}}
        </div>
        {% for err in form.location.errors %}
        <div class="error-row">
          <div class="error-div">{{err}}</div>
        </div>
        {% endfor %}

        <div class="display-none">
        {{form.days(value=7)}}
        </div>

        <div class="button-logo-div">
          <button type="submit">Search Jobs</button>
          <img class="cos-logo cos-logo-home" src="/static/icons/tcm24-30894_PoweredByCOS.jpg">
        </div>
    </form>
  </div>
</div>
<hr>
<div class="site-preview">
  <h3>Example Search Results</h3>
  <img src="/static/images/ss-job-search.png">
  <hr>
  <h3>Registered Users Can</h3>
  <div class="display-flex">
    <div>
      <p>Save jobs, create job hunts, report job applications, and view these details and more on their dashboard.</p>
    </div>
    <img src="/static/images/ss-dashboard.png">
  </div>
  <div class="display-flex">
    <img src="/static/images/ss-jobs-apps-list.png">
    <div>
      <p>Keep track of their current open job applications, update their status, and keep track of strategies and unique characteristics of each job application.</p>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/field-style-1-focus.js"></script>
{% endblock %}