{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/table.css">
{% endblock %}


{% block title %}Job Apps{% endblock %}


{% block content %}
<div class="h2-with-neighbors-div">
  <h2>Job Apps</h2>
  <div class="flex-align-center">
    <p>Applications from:</p>
    <select name="job_hunt" id="job-hunt-select">
      {% for hunt in current_user.job_hunts|reverse %}
      <option value="{{hunt.id}}" {% if hunt.id == current_hunt_id %}selected{% endif %}>{{hunt.name}}</option>
      {% endfor %}
      <option value="-1" {% if current_hunt_id == -1 %}selected{% endif %}>All Active Job Hunts</option>
      <option value="-2" {% if current_hunt_id == -2 %}selected{% endif %}>All Job Hunts</option>
    </select>
  </div>
  <p><i>Click on status values to quickly update status. Click "Save Updates" to save changes.</i></p>
</div>
<table id="job-app-list-table">
  <thead>
    <tr>
      <th>Date Applied</th>
      <th>Company</th>
      <th>Job Title</th>
      <th>Location</th>
      <th>
        <span>Status</span>
        <button id="save-updates-button">Save Updates</button>
      </th>
      <th>DPBA</th>
      <th>DSA</th>
      <th>DSSU</th>
      <th>SS</th>
      <th class="factors-th">Factors</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="job-app-list-tbody"> 
    {% for app in job_apps %}
    <tr>
      <td>{{app.date_applied}}</td>
      <td>{{app.saved_job['company']}}</td>
      <td><a href="/job-apps/{{app.id}}">{{app.saved_job['title']}}</a></td>
      <td>{{app.saved_job['location']}}</td>
      <td>
        <select data-app-id="{{app.id}}">
          <option value="2" {% if app.current_status == 2 %}selected{% endif %}>Initial Screening</option>
          <option value="3" {% if app.current_status == 3 %}selected{% endif %}>Passed IS - No Interview Yet</option>
          <option value="4" {% if app.current_status == 4 %}selected{% endif %}>Interviewed - First Round</option>
          <option value="5" {% if app.current_status == 5 %}selected{% endif %}>Interviewed - Multiple Rounds</option>
          <option value="6" {% if app.current_status == 6 %}selected{% endif %}>Interviewed - Final Round</option>
          <option value="7" {% if app.current_status == 7 %}selected{% endif %}>Job Offer</option>
          <option value="8" {% if app.current_status == 8 %}selected{% endif %}>Hired</option>
          <option value="0" {% if app.current_status == 0 %}selected{% endif %}>Closed - Ghosted</option>
          <option value="1" {% if app.current_status == 1 %}selected{% endif %}>Closed - rejection Notice</option>
        </select>
      </td>
      <td>{{app.dpba}}</td>
      <td>{{app.dsa}}</td>
      <td id="dssu-{{app.id}}">{{app.dssu}}</td>
      <td id="ss-{{app.id}}">{{app.ss}}</td>
      <td class="factors-td">
        {% for factor in app.factors %}
          {% if loop.index == app.factors|length %}
            {{loop.index}}. {{factor.name}}
            {% else %}
            {{loop.index}}. {{factor.name}},
            {% endif %}
        {% endfor %}
      </td>
      <td>
        <a href="/job-apps/{{app.id}}/edit"><button>Edit</button></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p><i><b>DPBA:</b> Days Posted Before Applied, <b>DSA:</b> Days Since Applied, <b>DSSU:</b> Days Since Status Update, <b>SS:</b> Success Score</i></p>
{% endblock %}


{% block scripts %}
<script src="/static/js/job-app-list.js"></script>
{% endblock %}