{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/job-details.css">
{% endblock %}


{% block title %}Edit Job App{% endblock %}


{% block content %}
<h2>Edit Job App Report</h2>
<h3>{{job_app.saved_job['title']}}</h3>
<div class="company">{{job_app.saved_job['company']}}</div>
<br>
<form method="POST" id="edit-form">
  {{form.hidden_tag()}}

  <!-- Date Field: -->
  <div class="field-style-2">
    {{form.date_applied.label}}
    {{form.date_applied(value=job_app.date_applied)}}
  </div>
  {% for err in form.date_applied.errors %}
  <div class="error-row">
    <div class="error-div">{{err}}</div>
  </div>
  {% endfor %}
  
  <!-- Select Field: -->
  <div class="field-style-2">
    {{form.current_status.label}}
    {{form.current_status(data_value=job_app.current_status)}}
  </div>
  {% for err in form.current_status.errors %}
  <div class="error-row">
    <div class="error-div">{{err}}</div>
  </div>
  {% endfor %}

  <!-- Text Field: -->
  <!-- Use contenteditable div instead of textarea -->
  <div class="field-style-2">
    {{form.user_notes.label}}
    <div id="user-notes-editable-div" contenteditable="true" class="contenteditable-field">
      {% if job_app.user_notes != None %}
      {{job_app.user_notes}}
      {% endif %}
    </div>
    {{form.user_notes(class="display-none")}}
    </div>
    {% for err in form.user_notes.errors %}
    <div class="error-row">
    <div class="error-div">{{err}}</div>
    </div>
    {% endfor %}

  <p><b>Factors:</b></p>
  <p><i>(All checked factors will be submitted. Add new factors for submission with "Add Factor" field.)</i></p>
  <ul class="no-bullets" id="factor-checkbox-ul">
    <li>
      <input type="text" placeholder="Add Factor" id="add-factor-input" class="isolated-input">
      <button type="button" id="add-factor-button" class="button-narrow">Add</button>
    </li>
    {% for factor in job_hunt_factors_list %}
    <li>
      <input class="old-factor" name="factor" type="checkbox" value="{{factor.id}}" {% if factor.id in job_app_factors_list %}checked{% endif %}>
      <label>{{factor.name}}</label>
    </li>
    {% endfor %}
  </ul>


  <button type="button" id="save-button">Submit</button>
  <a href="/job-apps/{{job_app.id}}"><button type="button" class="button-primary-outline">Cancel</button></a>
</form>

{% endblock %}


{% block scripts %}
<script src="/static/js/cleanHTML.js"></script>
<script src="/static/js/mark-select-options.js"></script>
<script src="/static/js/job-app-edit.js"></script>
{% endblock %}