{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/popup.css">
<link rel="stylesheet" href="/static/css/job-hunt-details.css">
{% endblock %}


{% block title %}Job Hunt Details{% endblock %}


{% block content %}
<h2>Job Hunt Details:</h2>
{% if current_hunt %}
<div class="flex-align-center">
  <h3 class="job-hunt-h3">Job Hunt:</h3>
  <select name="job_hunt" id="job-hunt-select">
    {% for hunt in current_user.job_hunts|reverse %}
    <option value="{{hunt.id}}" {% if hunt.id == current_hunt.id %}selected{% endif %}>{{hunt.name}}</option>
    {% endfor %}
  </select>
  <a href="/job-hunts/{{current_hunt.id}}/edit"><button class="button-narrow">Edit Details</button></a>
  <button id="new-job-hunt-button" class="button-narrow hunt-details-new-hunt-button">New Job Hunt</button>
</div>
<p>Status: {{current_hunt.status_translated}}</p>
<p>Job Title Desired: {{current_hunt.job_title_desired}}</p>
<p>O*Net-SOC Code: {{current_hunt.o_net_code}}</p>
<p>Location: {{current_hunt.location}}</p>
<p>Location Radius: {{current_hunt.radius}}</p>
<p>Remote: {% if current_hunt.remote %}Yes{% else %}No{% endif %}</p>
<p>Date Started Hunt: {{current_hunt.date_begun}}</p>
<p>Description: {{current_hunt.description}}</p>
<h4>Goals:</h4>
<p>Date to be hired by: {{current_hunt.hired_by_goal_date}}</p>
<p>Number of applications {{current_hunt.app_goal_time_frame_translated | lower}}: {{current_hunt.app_goal_number}}</p>
<h4>Factors Associated With Job Hunt:</h4>
<ul>
  {% for factor in current_hunt.factors %}
    <li>{{factor.name}}</li>
  {% endfor %}
</ul>
{% else %}
<p>In order to take advantage of many of Jobalyze's features create a "job hunt" now. It should takes less than a minute.</p>
{% endif %}

{% include "popup-jh.html" %}

{% endblock %}


{% block scripts %}
<script src="/static/js/popup-jh.js"></script>
<script src="/static/js/job-hunt-details.js"></script>
{% endblock %}