{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/popup.css">
<link rel="stylesheet" href="/static/css/job-hunt-details.css">
{% endblock %}


{% block title %}Job Hunt Details{% endblock %}


{% block content %}
<h2>Job Hunt Details:</h2>
{% if current_hunt %}
<div class="flex-align-center">
  <h3 class="job-hunt-h3">Job Hunt:</h3>
  <select name="job_hunt" id="job-hunt-select" class="isolated-select">
    {% for hunt in current_user.job_hunts|reverse %}
    <option value="{{hunt.id}}" {% if hunt.id == current_hunt.id %}selected{% endif %}>{{hunt.name}}</option>
    {% endfor %}
  </select>
  <a href="/job-hunts/{{current_hunt.id}}/edit"><button class="button-narrow">Edit Details</button></a>
  <form method="POST" action="/job-hunts/{{current_hunt.id}}/delete">
    <button type="button" class="button-danger button-narrow" id="delete-button">Delete</button>
  </form>
  <button id="new-job-hunt-button" class="button-narrow hunt-details-new-hunt-button">New Job Hunt</button>
</div>
<p><u>Status</u>: {{current_hunt.status_translated}}</p>
<p><u>Job Title Desired</u>: {{current_hunt.job_title_desired}}</p>
<p><u>O*Net-SOC Code</u>: {{current_hunt.o_net_code}}</p>
<p><u>Location</u>: {{current_hunt.location}}</p>
<p><u>Location Radius</u>: {{current_hunt.radius}}</p>
<p><u>Remote</u>: {% if current_hunt.remote %}Yes{% else %}No{% endif %}</p>
<p><u>Date Started Hunt</u>: {{current_hunt.date_begun}}</p>
<p><u>Description</u>: {{current_hunt.description}}</p>
<hr>
<h3>Goals:</h3>
<p><u>Date to be hired by</u>: {{current_hunt.hired_by_goal_date}}</p>
<p><u>Number of applications {{current_hunt.app_goal_time_frame_translated | lower}}</u>: {{current_hunt.app_goal_number}}</p>
<hr>
<h3>Factors Associated With Job Hunt:</h3>
<ul>
  {% for factor in current_hunt.factors %}
    <li>{{factor.name}}</li>
  {% endfor %}
</ul>
{% else %}
<p>In order to take advantage of many of Jobalyze's features create a "job hunt" now. It should takes less than a minute.</p>
{% endif %}

{% include "popup-jh.html" %}

{% endblock %}


{% block scripts %}
<script src="/static/js/popup-jh.js"></script>
<script src="/static/js/job-hunt-details.js"></script>
{% endblock %}