{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/job_details.css">
{% endblock %}


{% block title %}Job Details{% endblock %}

{% block content %}
<div class="details-wrapper" id="details-wrapper" data-saved-job-id="{{saved_job.id}}">
  <div class="title-apply">
    <h3 id="details-job-title">{{saved_job.title}}</h3>
    <div class="hor-buttons-div">
      <a id="details-url" href="{{saved_job.application_link}}" target="_blank"><button>Apply</button></a>
    </div>
  </div>
  <div class="details-i-applied">
    <div>
      <div id="details-company-name">{{saved_job.company}}</div>
      <div id="details-location">{{saved_job.location}}</div>
      <div id="details-date-posted">{{saved_job.date_posted}}</div>
    </div>
    <a id="i-applied-link"><button>I applied</button></a>
  </div>
  <div id="details-description">{{saved_job.job_description | safe}}</div>
  <hr>
  <div id="additional-details">
    <h3>Additional Details</h3>
    <div id="details-company-size">
      <span>Company size: </span>
      {% if saved_job.company_size != None %}
      <span>{{saved_job.company_size}}</span>
      {% else %}
      <button data-group-id="details-company-size" id="details-company-size-add">Add</button>
      {% endif %}
      <span class="display-none" id="details-company-size-input-group">
        <select id="details-company-size-input">
          <option value="1">1-10 employees</option>
          <option value="2">11-50 employees</option>
          <option value="3">51-200 employees</option>
          <option value="4">201-500 employees</option>
          <option value="5">501-1,000 employees</option>
          <option value="6">1,001-5,000 employees</option>
          <option value="7">5,001-10,000 employees</option>
          <option value="8">10,001+ employees</option>
        </select>
        <button data-group-id="details-company-size">Save</button>
        <button data-group-id="details-company-size">Cancel</button>
      </span>
    </div>
    <div id="details-salary-range">
      <span>Salary range: </span>
      {% if saved_job.salary_min != None %}
      <span>${{saved_job.salary_min}}-${{saved_job.salary_max}}</span>
      {% else %}
      <button data-group-id="details-salary-range" id="details-salary-range-add">Add</button>
      {% endif %}
      <span class="display-none" id="details-salary-range-input-group">
        <input type="text" id="details-salary-range-1-input">
        <span> &ndash; </span>
        <input type="text" id="details-salary-range-2-input">
        <button data-group-id="details-salary-range">Save</button>
        <button data-group-id="details-salary-range">Cancel</button>
      </span>
    </div>
    <div id="details-job-type">
      <span>Job type: </span>
      {% if saved_job.job_type != None %}
      <span>{{saved_job.job_type}}</span>
      {% else %}
      <button data-group-id="details-job-type" id="details-job-type-add">Add</button>
      {% endif %}
      <span class="display-none" id="details-job-type-input-group">
        <input type="text" id="details-job-type-input">
        <button data-group-id="details-job-type">Save</button>
        <button data-group-id="details-job-type">Cancel</button>
      </span>
    </div>
    <div id="details-federal-contractor">
      <span>Federal contractor: </span>
      {% if saved_job.federal_contractor != None %}
      <span>{{saved_job.federal_contractor}}</span>
      {% else %}
      <button data-group-id="details-federal-contractor" id="details-federal-contractor-add">Add</button>
      {% endif %}
      <span class="display-none" id="details-federal-contractor-input-group">
        <input type="text" id="details-federal-contractor-input">
        <button data-group-id="details-federal-contractor">Save</button>
        <button data-group-id="details-federal-contractor">Cancel</button>
      </span>
    </div>
    <div id="details-user-notes">
      <span>User notes: </span>
      {% if saved_job.user_notes != None %}
      <span>{{saved_job.user_notes}}</span>
      {% else %}
      <button data-group-id="details-user-notes" id="details-user-notes-add">Add</button>
      {% endif %}
      <div class="display-none" id="details-user-notes-input-group">
        <textarea id="details-user-notes-input"></textarea>
        <button data-group-id="details-user-notes">Save</button>
        <button data-group-id="details-user-notes">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
<script src="/static/js/currency-input.js"></script>
<script src="/static/js/job-details-saved.js"></script>
{% endblock %}