{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/job_details.css">
{% endblock %}


{% block title %}Job Details{% endblock %}

{% block content %}
<div class="right-column-wrapper">
  <div class="right-column" id="right-column" class="display-none">
    <div class="title-apply">
      <h3 id="details-job-title">{{saved_job.title}}</h3>
      <div class="hor-buttons-div">
        <a id="details-url" href="{{saved_job.application_link}}" target="_blank"><button>Apply</button></a>
      </div>
    </div>
    <div id="details-company-name">{{saved_job.company}}</div>
    <div id="details-location">{{saved_job.location}}</div>
    <div id="details-date-posted">{{saved_job.date_posted}}</div>
    <div id="details-description">{{saved_job.job_description | safe}}</div>
  </div>
</div>
{% endblock %}


{% block scripts %}{% endblock %}