{% extends 'base.html' %}

{% block title %}Add Job{% endblock %}

{% block content %}
<h2>Manually Add a Job to Saved Jobs</h2>
<!-- ********************* fix below  ****************************** -->
<form method="POST">
  {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="form-row">
      {{field.label}}
      {{field}}
    </div>
    {% for err in field.errors %}
    <div class="error-row">
      <div class="error-div">{{err}}</div>
    </div>
    {% endfor %}
  {% endfor %}
  <div class="form-row">
    <div class="button-div">
      <button type="submit" class="btn btn-success mt-2">Save</button>
    </div>
  </div>
</form>
{% endblock %}