{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/job_details.css">
{% endblock %}

{% block title %}Job Details{% endblock %}

{% block content %}
<div class="details-wrapper" id="details-wrapper" class="display-none" data-cos-id="{{cos_id}}" data-fc="{{fc}}">
  <div class="title-apply">
    <h3 id="details-job-title"></h3>
    <div class="hor-buttons-div">
      {% if current_user.is_authenticated %}
      <button id="save-button" {% if saved %}class="display-none"{% endif %}>Save</button>
      <div id="saved-icon" {% if not saved %}class="display-none"{% endif %}>Saved</div>
      {% endif %}
      <a id="details-url" target="_blank"><button>Apply</button></a>
    </div>
  </div>
  <div id="details-company-name"></div>
  <div id="details-location"></div>
  <div id="details-date-posted"></div>
  <div id="details-description"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/job_details_api.js"></script>
{% endblock %}