<div id="popup-ja" class="popup display-none">
  <h2 id="popup-ja-header">Report a Job Application</h2>
  <div id="popup-ja-0" class="popup-ja-screen">
    <p>Every job application reported here will appear in your Job Apps list. 
      From there you can keep track of it's status and use Jobalyze's analysis 
      tools to draw conclusions from your application strategies.
    </p>
    <p>Reporting an application for: </p>
    <span id="job-title-span"></span>
    <span> at </span>
    <span id="company-span"></span>
    <form method="POST" id="saved-job-add-form">
    
      <div class="form-row">
        <label for="job-hunt-select">This application report is for the</label>
        <!-- select field with active job hunts -->
        <select id="job-hunt-select">
          {% for hunt in active_hunts %}
          <option value="{{hunt.id}}">{{hunt.name}}</option>
          {% endfor %}
        </select>
        <span>job hunt.</span>
      </div>

      <div class="form-row">
        <label>I applied on</label>

      </div>

      <div class="display-none">

      </div>

    </form>

    <div class="popup-button-div">
      <button type="button" id="popup-ja-submit-button">Submit</button>
      <button type="button" id="popup-ja-cancel-button">Cancel</button>
    </div>
  </div>