{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/table.css">
{% endblock %}


{% block title %}Saved Jobs{% endblock %}


{% block content %}
<div class="flex-space-between">
  <h2>Saved Jobs</h2>
  <div class="display-flex">
    <h4>Filters:</h4>
    <div class="filter-group" id="days-ago-filter" data-days-ago="{{days_ago}}">
      <span>Jobs saved</span>
      <input type="radio" id="days-ago-30" name="days-ago" value="30">
      <label for="days-ago-30">within 30 days</label>
      <input type="radio" id="days-ago-90" name="days-ago" value="90">
      <label for="days-ago-90">within 90 days</label>
      <input type="radio" id="days-ago-all" name="days-ago" value="all">
      <label for="days-ago-any">any time</label>
    </div>
    <div id="include-applied-filter" class="filter-group" data-include-applied="{{include_applied}}">
      <input type="checkbox" id="include-applied-checkbox" name="include-applied">
      <label for="include-applied-checkbox">Include applied jobs</label>
    </div>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Date Saved</th>
      <th>Company</th>
      <th>Job Title</th>
      <th>Location</th>
      <th>Date Posted</th>
      <th>Applied</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for job in saved_jobs %}
    <tr>
      <td>{{job.date_saved}}</td>
      <td>{{job.company}}</td>
      <td><a href="/saved-jobs/{{job.id}}">{{job.title}}</a></td>
      <td>{{job.location}}</td>
      <td>{{job.date_posted}}</td>
      <td class="text-center">
        {% if job.job_app %}
        &#10004;
        <!-- <span>
          <a><span>&#10004;</span></a>
          <a href="/job-apps/{{job.id}}"><button>View</button></a>
        </span> -->
        {% endif %}
      </td>
      <td>
        <form method="POST" action="/saved-jobs/{{job.id}}/delete">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}


{% block scripts %}
<script src="/static/js/saved-job-list.js"></script>
{% endblock %}